* .combo-box { 
	-fx-background-color: black;
	-fx-mark-color: orange;
	-fx-border-color: orange;
	-fx-border-width: 2px;
	-fx-text-fill: orange;
}

* .combo-box .list-cell {
	-fx-text-fill: orange;
}

* .combo-box-popup .list-view .list-cell{
	-fx-background-color: black;
	-fx-text-fill: orange;
}

* .combo-box-popup .list-cell:focused {
	-fx-background-color: orange;
}

* .combo-box-popup .list-cell:focused > .text{
	-fx-text-fill: black;
	-fx-font-size: 14px;
}

* .choice-box {
	-fx-background-color: black;
	-fx-mark-color: orange;
	-fx-border-color: orange;
	-fx-border-width: 2px;
}

* .choice-box .label{
	-fx-text-fill: orange;
	-fx-font-size: 14px;
}

* .choice-box .context-menu{
	-fx-background-color: black;
}

* .choice-box .menu-item:focused {
	-fx-background-color: orange;
}

* .choice-box .menu-item:focused > .label{
	-fx-text-fill: black;
	-fx-font-size: 14px;
}

.subTitle {
	-fx-text-fill: orange;
}

.text-field {
	-fx-background-color: rgb(186,189,182);
	-fx-prompt-text-fill: rgb(85,87,83);
	-fx-text-fill: black;
}

.basePane {
	/*-fx-background-color: #565551;*/
	-fx-background-image: url('../resources/metal_tex.jpg');
	-fx-border-color: orange;
	-fx-border-width: 3px;
}

.baselabel {
	-fx-text-fill: orange;
	-fx-font-size: 14px;
}

.button {
	-fx-background-color: black;
	-fx-text-fill: orange;
	-fx-font-size: 14px;
	-fx-border-color: orange;
	-fx-border-width: 2px;
}

.tab-pane > .tab-header-area > .tab-header-background{
	-fx-background-image: url('../resources/metal_tex.jpg');
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: orange;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab-pane .tab {
	-fx-background-color: grey;
}

.tab-pane .tab:selected{
	-fx-border-color: orange;
	-fx-background-color: black;
	-fx-border-width: 2px;
}

.tab-pane > .tab-header-area > .tab-header-background{
	-fx-outer-border: orange;
	-fx-border-width: 2px;
}

.tab-pane {
	-fx-background-image: url('../resources/metal_tex.jpg');
}


.dialog {
	-fx-background-image: url('../resources/metal_tex.jpg');
}

.dialog .label {
	-fx-text-fill: orange;
	-fx-font-size: 14px;
}
.dialog:header *.header-panel{
	-fx-background-image: url('../resources/metal_tex.jpg');
}

.dialog .button {
	-fx-background-color: black;
	-fx-text-fill: orange;
	-fx-font-size: 14px;
	-fx-border-color: orange;
	-fx-border-width: 2px;
}

#routeInfo{
	-fx-background-color: rgb(186,189,182);
	-fx-border-color: orange;
	-fx-border-width: 3px;
	-fx-text-fill: black;
}

#itemInfo{
	-fx-background-color: rgb(186,189,182);
	-fx-border-color: orange;
	-fx-border-width: 3px;
	-fx-text-fill: black;	
}

#contentInfo{
	-fx-border-color: orange;
	-fx-border-width: 3px;
	-fx-background-color: rgb(186,189,182);
	-fx-text-fill: black;
}

#contentInfo .list-cell {
	-fx-background-color: rgb(186,189,182);
}

#contentInfo .list-cell:odd {
	-fx-background-color: rgb(211,215,207);
}

#mainTitle {
	-fx-border-style: solid;
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-text-alignment: center;
	-fx-text-fill: orange;
	-fx-background-color: linear-gradient(black, black); 
}

